@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            sda
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {

            initSignalr();

            function initSignalr() {
                let connection = new signalR.HubConnectionBuilder()
                    .configureLogging(signalR.LogLevel.Debug)
                    .withUrl('https://localhost:50000/notify-hub')
                    .withHubProtocol(new signalR.protocols.msgpack.MessagePackHubProtocol())
                    .build();

                connection.on('notify', function (obj) {
                    debugger;
                })

                connection.onclose(function (err) {
                    console.log('onClose', err);
                })

                connection.start().catch(function (error) {
                    console.log(error.toString());
                })
            }
        })
    </script>
}