@page
@model IndexModel
@{
    ViewData["Title"] = "Signalr Demo";
}

<div class="container" id="pageContent">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#project" role="tab" aria-controls="home" aria-selected="true">项目中心</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#chat" role="tab" aria-controls="profile" aria-selected="false">聊天</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#logout" role="tab" aria-controls="contact" aria-selected="false">超时退出</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body">
                <button class="btn btn-primary" type="button" click-type="assign">模拟分配责任人</button>
            </div>
        </div>
        <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="profile-tab">

        </div>
        <div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="contact-tab">

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/initSignalr.js" asp-append-version="true"></script>
    <script>
        $(function () {
            // 模拟一个userId
            var userId = new Date().getTime();
            var groupName = '11111111111111111111111';

            var connection = initSignalr({
                delay: 0,
                url: 'https://localhost:50000/notify-hub?userId=' + userId,
                loggingLevel: signalR.LogLevel.Trace,
                onNotify: function (data) {
                    console.log('OnNotify..........', data);
                },
                onStarted: function () {
                    connection.invoke("JoinToGroup",groupName).catch(function (err) {
                        return console.error(err.toString());
                    });
                }
            });

            connection.on('OnJoinGroup', function (data) {
                console.log('Signalr ----  OnJoinGroup', data);
            })

            function initPageEvent() {
                $('#pageContent').on('click.bind', '[click-type]', function (e) {
                    var $target = $(e.target);
                    var type = $target.attr('click-type');
                    switch (type) {
                        case "assign":

                            break;
                        default:
                    }
                })
            };
            initPageEvent();
        })
    </script>
}